@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css);

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

h4{
  padding: 10px;
}
